body{

    background-color: burlywood;
}


section{
    display: flex;
 align-items: center;  
 height: 100vh; 
}
div{
    background-color: orangered;
flex: 2;
height: 150px;
margin: 10px;
display: flex;
align-items: center;
justify-content: center;



}
div:first-of-type{
    flex: 1;
}
p{margin: 50px;}

div:nth-of-type(3){
flex: 3;

}