/* début exo 01 les_hover_01 */
section:not(:last-of-type) {
    border-bottom: black solid 2px;
}

section {
    padding-bottom: 50px;
}

/* fin exo 01 les_hover_01 */
.bg-color {
    height: 150px;
    width: 150px;
    background-color: lightblue;

}

.bg-color:hover {
    background-color: purple;
}


/* début exo 02 les_hover_02 */
.height_and_width {
    background-color: lightblue;
    height: 150px;
    width: 150px;

}

.height_and_width:hover {
    height: 200px;
    width: 500px;



}

/* fin exo 02 les_hover_02 */



/* début exo 03 les_focus_03 */

input:focus {

    border: blue solid 15px;
    border-radius: 10px;

}

/* fin exo 03 les_focus_03 */



/* début exo 04 les transitions */
.transition_04 {


    background-color: yellow;
    height: 150px;
    width: 150px;
    transition: 4s;
}

.transition_04:hover {
    background-color: red;

}

/* fin exo 04 les transitions */



/* début exo 05 les transitions */
.transition_05 {


    background-color: orange;
    width: 150px;
    width: 150px;
    transition: 2s;

}


.transition_05:hover {

    border-radius: 50%;
    background-color: purple;

}

/* fin exo 05 les transitions */



/* début exo 06 les transitions */
.transition_06 {
    height: 150px;
    width: 50px;
    background-color: grey;
    transition: 3s;
}

.transition_06:active {
    margin-left: 300px;
}

/* fin exo 06 les transitions */



/* début exo 07 les transitions */
.transition_07 {
    background-color: green;
    height: 150px;
    width: 50px;
    transition: 3s;
    transition-timing-function: ease-in-out;
}

.transition_07:active {
    margin-left: 80%;
}

/* fin exo 07 les transitions */



/* début exo 08 les transitions */
.transition_08 {
    background-color: lightblue;
    height: 150px;
    width: 50px;
    transition: 3s;
    transition-timing-function: ease-in-out;
}

.transition_08:active {
    margin-left: 80%;
    background-color: purple;
    height: 50px;
    border-radius: 50%;
}

/* fin exo 08 les transitions */



/* début exo 09 les transitions */
.transition_09 {
    background-color: royalblue;
    width: 150px;
    height: 150px;

}

.transition_09:active .transition_09_enfant {
    background-color: red;
}

.transition_09_enfant {
    background-color: black;
    width: 20%;
    height: 20%;
    transition: 3s;
}

/* fin exo 09 les transitions */



/* début exo 10 les transitions */
.transition_10 {
    width: 150px;
    height: 150px;
    background-color: yellow;
    transition: 3s;
    transition-timing-function: ease-in-out;

}


.transition_10_intrus {
    background-color: red;
    height: 50px;
    width: 50px;
    transition: 3s;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
}

.transition_10:active {
    margin-left: 80%;
    border-radius: 50%;
    background-color: orange;
}

.transition_10:active .transition_10_intrus {
    background-color: purple;
    border-radius: 0%;
    margin-left: 80%;
}

/* fin exo 10 les transitions */